*{
    box-sizing: border-box;
}
body {
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
    height: 100vh;
}
@font-face {
    font-family: mario;
    src: url(fonts/SuperMario256.ttf);
}
.mario {
    position: relative;
   left: 0px;
   margin-top: 580px;
   z-index: 1;
}
.tortuga {
    position: absolute;
   right: 100px;
    bottom: 90px;
    z-index: 2;
}
.anime1 {
    position: fixed;
    animation: caminata 10s infinite;
}
@keyframes caminata {
    0% {left: 0;}
    25% {left: 500px; right: 0;}
    50% {margin-top: 500px;}
    75% {left: 100px;}
    100% {top: 10px;}
}
.audio {
    color: green;
    height: 100px;
}
@media screen and(min-width: 15px){
    font-size: 65px;
}
.anime2 {
    position: fixed;
    animation: movimiento 10s infinite;
}
@keyframes movimiento {
    0% {left: 0;}
    25% {left: 100px; right: 300px;}
    50% {margin-top: 500px; right: 80px;}
    75% {left: 100px; bottom: 60px;}
    100% {top: 10px;}
}
